body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    margin: 10px;
    max-width: 500px;
    min-height: 100px;
}
input {
    max-width: 100px;
}
#mantekst {
    margin-left: 78px ;
}
.verijst {
    background-color: white;
    
}