body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

div {
    max-width: 900px;
}

button {
    background-color: gold;
    font-size: medium;
}

img {
    margin: -2px 0;
}
