body, #display, .dis, table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dis {
    border-radius: 10px;
}

.stopwatch {
    background-image: url(img/stopwatch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    border-radius: 360px;
    width: 500px;
    height: 400px;
}
.buttons {
    padding-top: 10px;
    height: 20px;
    margin-left: 35px;
}
#display {
height: 120px;
width: 285px;
font-size: 50px;
padding-top: 30px;
padding-bottom: -10px;
}
table{
    padding-top: 90px;
    margin: 20px 0px 20px -3px;

}
#knop1, #knop2, #knop3 {
    height: 40px;
    width: 50px;
    margin-top: 20px;
    opacity: 0; 
    pointer-events: auto;
}
#knop1{
    margin-left: 2px;
    padding: 35px 20px 20px 35px;

}
#knop2{
    padding: 35px 40px 20px 30px;
    margin-left: 8px;
}
#knop3{
    margin-left: 6px;
    padding: 33px 25px 20px 30px;
}
